<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Vietnam Cuisine Detector - Load Image</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <style>
        .mainbtn {
            font-size: 20px;
            padding: 25px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 40px;
            position: absolute;
            margin-top: 20px;
            height: 30px;
            left: 50%;
            transform: translate(-50%);
        }
    </style>
</head>

<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="position: absolute;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/backgrounds/bg-bm.jpg" class="d-block w-100" alt="banh mi">
            </div>
            <div class="carousel-item">
                <img src="/static/backgrounds/bg-btnn.jpg" class="d-block w-100" alt="banh trang nuong">
            </div>
            <div class="carousel-item">
                <img src="/static/backgrounds/bg-bx.jpg" class="d-block w-100" alt="banh xeo">
            </div>
            <div class="carousel-item">
                <img src="/static/backgrounds/bg-bbh.jpg" class="d-block w-100" alt="bun bo hue">
            </div>
            <div class="carousel-item">
                <img src="/static/backgrounds/bg-bd.jpg" class="d-block w-100" alt="bun dau mam tom">
            </div>
            <div class="carousel-item">
                <img src="/static/backgrounds/bg-ct.jpg" class="d-block w-100" alt="com tam">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <a class="btn btn-light font-weight-bold mainbtn" href="/loadimage2">START</a>

    <script>
        $('.carousel').carousel({
            interval: 3000
        })
    </script>
</body>

</html>